@model List<RotaViagemModel>

@{
    ViewData["Title"] = "Lista de Rotas de Viagem";
}
<div class="text-center">
    <div class="d-grid gcp-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Rota" asp-action="Criar">Adicionar Nova Rota</a>
    </div>
    <br />
    <h1 class="display-4">Lista de Rotas de Viagem</h1>

    <div class="container mt-3">

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Origem</th>
                    <th>Escalas</th>
                    <th>Destino</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    @foreach (var rota in Model)
                    {
                        <tr>
                            <td>@rota.Id</td>
                            <td>@rota.Origem</td>
                            <td>
                                <ul>
                                    @if (rota.Escalas != null)
                                    {
                                        @foreach (var escala in rota.Escalas)
                                        {
                                            <li>@escala.Destino</li>
                                        }
                                    }
                                </ul>
                            </td>
                            <td>@rota.Destino</td>
                            <td>@rota.Valor.ToString("C")</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-primary" asp-route-id="@rota.Id" asp-controller="Rota" asp-action="Editar">Editar</a>
                                    <a role="button" class="btn btn-danger" asp-route-id="@rota.Id" asp-controller="Rota" asp-action="ApagarConfirma">Apagar</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

